footer {
  background-color: #07321b;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0%;
  margin-top: 2em;

  a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;

    &:hover {
      text-decoration: none;
      color: #fff;
      opacity: 0.9;
    }
  }

  .row {
    justify-content: center;
  }
}
